// Style for button and pseudo button for input and link

.btn {
	color: $color_withe;
	font-family: $main_font_family;
	font-size: 1.125em;
	font-weight: 600;
	padding: 1em 2.3em;
	text-align: center;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: $btn_default_bg_color;
	max-width: 100%;
	cursor: pointer;
	border-radius: 0;
	transition: 0.3s;

	&:hover {
		background-color: $btn_default_bg_color_hover;
		color: $color_withe;
		text-decoration: none;
	}

	&:active,
	&:focus {
		background-color: $btn_default_bg_color_active;
		color: $color_withe;
	}

	&_plus {
		@include plus();
	}

}
