/* Header
 ----------------------------------------------------------------------------- */
.header {
	padding: 1.3em 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99;
	// background-color: #ddd;

	@media (min-width: 768px) {
		padding: 2.1em 0;
	}

	&__content {
		@extend .container_center;
		margin: auto;
		display: flex;
		justify-content: space-between;
	}

	&__left {
		width: 9.938em;
		margin-right: 5.2em;
		flex: none;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__right {
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		@media (min-width: 768px) {
			flex-direction: row;
			align-items: center;
		}
	}

}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #10092a;
	animation: slide 0.5s forwards;

	@media (min-width: 768px) {
		padding: 1.1em 0;

		.header__left {
			width: 7em;
		}
	}

	@media (max-width: 767px) {
		padding: 1.1em 0;

		.header__left {
			width: 6em;
		}

		.navbar__toggle {
			top: 0.3em;
		}
	}

}

@keyframes slide {
	from {
		top: -5em;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}
