footer.footer
    .lines
        .lines__item
        .lines__item
        .lines__item
        .lines__item
        .lines__item
        .lines__item
        .lines__item

    .footer__content
        | © HiPer IT. <?php echo SCF::get( 'copy' ); ?> 
        a(href!="<?php echo get_privacy_policy_url(); ?>", target="_blank") <?php echo SCF::get( 'privacy' ); ?>
        |
        |<?php wp_footer() ?>
