footer.footer
    .lines
        .lines__item
        .lines__item
        .lines__item
        .lines__item
        .lines__item
        .lines__item
        .lines__item

    .footer__content
        | © HiPer IT. <?php echo SCF::get( 'copy' ); ?> 
        |<?php the_privacy_policy_link(); ?>
        |
        |<?php wp_footer() ?>
