footer.footer
    .lines
        .lines__item
        .lines__item
        .lines__item
        .lines__item
        .lines__item
        .lines__item
        .lines__item

    .footer__content
        | © HiPer. <?php echo SCF::get( 'copy' ); ?> 
        <a href="<?php echo SCF::get( 'privacy__link' ); ?>"><?php echo SCF::get( 'privacy' ); ?></a>
        |
        |<?php wp_footer() ?>
