header.header
    .header__content
        .header__left
            a.logo(href="/")
                <img src="<?php echo get_template_directory_uri() . '/img/logo.png' ?>" alt="alt" />
        nav.header__right
            ul.navbar
                each navLink in [{name: 'Платформа HiPer', href: ''},{name: 'Принцип работы', href: ''},{name: 'Преимущества', href: ''},{name: 'Решения', href: ''},{name: 'Пакеты услуг', href: ''},{name: 'Контакты', href: ''},]
                    li.navbar__item
                        a.navbar__link(href= navLink.href)= navLink.name

            .lang
                |<?php
                |function language_selector_fullname(){
                |    $languages = icl_get_languages('skip_missing=0&orderby=code');
                |    // echo json_encode($languages);
                |    if(!empty($languages)){
                |        foreach($languages as $act){
                |            if($act['active']) {
                |                echo '<a class="lang__link active" href="">'.$act['code'].'</a>';
                |            }
                |        }
                |        foreach($languages as $l){
                |            if(!$l['active']) {
                |                echo '<a  class="lang__link" href="'.$l['url'].'">'.$l['code'].'</a>';
                |            }
                |        }
                |    }
                |}
                |language_selector_fullname();
                | ?>
