extends layout/layout.pug

block content
    // begin home
    section#home.home.section
        .lines
            .lines__item
                i.icon_line
                i.icon_plus
                i.icon_plus
                i.icon_plus

            .lines__item
            .lines__item
                i.icon_line

            .lines__item
                i.icon_plus
                i.icon_plus
                i.icon_plus

            .lines__item
                i.icon_line

            .lines__item
            .lines__item
                i.icon_line
                i.icon_plus
                i.icon_plus
                i.icon_plus

        .container_center
            .home__content
                .home__left
                    .home__img
                        <img class="home__bg" src="<?php echo wp_get_attachment_url(SCF::get( 'home__bg' )) ?>?<?php echo date('YmdHis');?>" />
                .home__right
                    .home__title
                        <?php echo SCF::get( 'home__title' ); ?>
                    .home__sub <?php echo SCF::get( 'home__sub' ); ?>
                    .home__action
                        button.btn.btn_plus
                            span 
                            |<?php echo SCF::get( 'home__action' ); ?>

    // end home

    // begin solutions
    section#solutions.solutions.section
        .lines
            .lines__item
                i.icon_line

            .lines__item
                i.icon_line

            .lines__item
                i.icon_line

            .lines__item
                i.icon_line

            .lines__item
                i.icon_line

            .lines__item
                i.icon_line

            .lines__item
                i.icon_line

        .solutions__name <?php echo SCF::get( 'solutions__name' ); ?>
        <img class="solutions__line wow" src="<?php echo get_template_directory_uri() ?>/img/solutions_line.svg?<?php echo date('YmdHis');?>", alt="">
        .container_center
            h2.section__title <?php echo SCF::get( 'solutions__title' ); ?>
            .solutions__list
                |<?php
                |    $solutions__list = SCF::get('solutions__list');
                |
                |    foreach ($solutions__list as $item) {
                |        echo '
                |        <div class="solutions__item">
                |            <div class="solutions__topname">'.$item['solutions__topname'].'</div>
                |            <div class="solutions__img"><img src="'.wp_get_attachment_url($item['solutions__img']).'", alt=""></div>
                |            <div class="solutions__text">'.$item['solutions__text'].'</div>
                |        </div>
                |        ';
                |    };
                |?>

    // end solutions

    // begin whatfor
    section#whatfor.whatfor.section
        .lines
            .lines__item
            .lines__item
            .lines__item
            .lines__item
            .lines__item
            .lines__item
            .lines__item
        <img class="whatfor__line wow" src="<?php echo get_template_directory_uri() ?>/img/whatfor_line.svg?<?php echo date('YmdHis');?>", alt="">
        .container_center
            .whatfor__wrapper
                .section__title
                    |<?php echo SCF::get( 'whatfor__title' ); ?>
                .whatfor__content
                    .whatfor__top
                        .whatfor__left
                            .whatfor__primary <?php echo SCF::get( 'whatfor__primary' ); ?>
                            .whatfor__right.mobile <?php echo SCF::get( 'whatfor__right' ); ?> 
                            .whatfor__action
                                a.btn.btn_plus(href="<?php echo SCF::get( 'whatfor__action' ); ?>")
                                    span
                                    |<?php echo SCF::get( 'whatfor__action' ); ?>
                        .whatfor__right.desktop <?php echo SCF::get( 'whatfor__right' ); ?> 
                    .whatfor__bottom
                        .whatfor__label <?php echo SCF::get( 'whatfor__label' ); ?>:
                        .whatfor__list
                            |<?php
                            |    $whatfor__list = SCF::get('whatfor__list');
                            |
                            |    foreach ($whatfor__list as $item) {
                            |        echo '
                            |        <div class="whatfor__listItem">'.$item["whatfor__listItem"].'</div>
                            |        ';
                            |    };
                            |?>


    // end whatfor

    // begin benefits
    section#benefits.benefits.section
        .lines
            .lines__item
                i.icon_plus
                i.icon_plus

            .lines__item
                i.icon_line

            .lines__item
                i.icon_line

            .lines__item
                i.icon_plus
                i.icon_plus
                i.icon_line

            .lines__item
                i.icon_line

            .lines__item
                i.icon_line

            .lines__item
                i.icon_plus
                i.icon_plus

        .benefits__name <?php echo SCF::get( 'benefits__name' ); ?>
        <img class="benefits__line wow" src="<?php echo get_template_directory_uri() ?>/img/benefits_line.svg?<?php echo date('YmdHis');?>", alt="">
        .container_center
            h2.section__title <?php echo SCF::get( 'benefits__title' ); ?>
            .benefits__list
                |<?php
                |    $benefits__list = SCF::get('benefits__list');
                |
                |    foreach ($benefits__list as $item) {
                |        echo '
                |            <div class="benefits__item">
                |                <div class="benefits__img">
                |                    <img src="'.wp_get_attachment_url($item['benefits__img']).'", alt="">
                |                    <img src="'.wp_get_attachment_url($item['benefits__img']).'", alt="">
                |                </div>
                |                <div class="benefits__right">'.$item["benefits__right"].'</div>
                |            </div>
                |        ';
                |    };
                |?>


    // end benefits

    // begin platform
    section#platform.platform.section
        .lines
            .lines__item
                i.icon_line
                i.icon_line
                i.icon_line
            .lines__item
            .lines__item
                i.icon_line
                i.icon_line
                i.icon_line
            .lines__item
            .lines__item
                i.icon_line
                i.icon_line
                i.icon_line
            .lines__item
            .lines__item
                i.icon_line
                i.icon_line
                i.icon_line

        .container_center
            h2.section__title <?php echo SCF::get( 'platform__header' ); ?>
            .platform__scheme
                <img class="desktop" src="<?php echo wp_get_attachment_url(SCF::get( 'platform__img_desktop' )) ?>", alt="">
                <img class="mobile" src="<?php echo wp_get_attachment_url(SCF::get( 'platform__img_desktop' )) ?>", alt="">

            .platform__list
                |<?php
                |    $platform__list = SCF::get('platform__list');
                |
                |    foreach ($platform__list as $item) {
                |        echo '
                |            <div class="platform__item">
                |                <div class="platform__img">
                |                    <div class="platform__plus">
                |                        <span></span>
                |                        <img src="'.wp_get_attachment_url($item['platform__img']).'", alt="">
                |                    </div>
                |                </div>
                |                <div class="platform__descr">
                |                    <div class="platform__title">'.$item["platform__title"].'</div>
                |                    <div class="platform__text">'.$item["platform__text"].'</div>
                |                    <div class="platform__line">
                |                        <img class="wow" src="'.wp_get_attachment_url($item['platform__line']).'?'.date('YmdHis').'", alt="">
                |                    </div>
                |                </div>
                |            </div>
                |        ';
                |    };
                |?>

    // end platform

    // begin monitoring
    section#monitoring.monitoring.section
        .lines
            .lines__item
            .lines__item
            .lines__item
            .lines__item
            .lines__item
            .lines__item
            .lines__item

        .container_center
            h2.section__title <?php echo SCF::get( 'monitoring__title' ); ?>
            .monitoring__content
                <div class="video__wrapper js-youtube" id="<?php echo SCF::get( 'monitoring__video' ); ?>">
                    <img src="<?php echo get_template_directory_uri() ?>/img/play.svg" alt="" class="video__play">
                </div>

    // end monitoring

    // begin contacts
    section#contacts.contacts.section
        .lines
            .lines__item
            .lines__item
            .lines__item
            .lines__item
            .lines__item
            .lines__item
            .lines__item

        <img class="contacts__line wow" src="<?php echo get_template_directory_uri() ?>/img/contact_line.svg?<?php echo date('YmdHis');?>", alt="">
        .container_center
            .contacts__content
                .contacts__left
                    .contacts__legend <?php echo SCF::get( 'contacts__legend' ); ?>
                    .contacts__sub <?php echo SCF::get( 'contacts__sub' ); ?>
                    |<?php echo do_shortcode( '[contact-form-7 id="10" title="Контактная форма 1"]' ); ?>
                .contacts__right
                    h2.section__title Контакты
                    <a class="contacts__mail" href="mailto: <?php echo SCF::get( 'contacts__mail' ); ?>"><?php echo SCF::get( 'contacts__mail' ); ?></a>
                    .soc
                        |<?php
                        |    $soc = SCF::get('soc');
                        |
                        |    foreach ($soc as $item) {
                        |        echo '
                        |        <a href="'.$item["soc__link"].'" target="_blank"></a>
                        |        ';
                        |    };
                        |?>

        #map.map
            <?php echo SCF::get( 'google_map' ); ?>


    // end contacts
